@import '../variables';
@import '../mixins';

nav {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    .user-actions {
        grid-column: 8 / span 5;
        grid-row: 2 / span 2;
    }
    img{
        grid-column: 2 / span 3;
        grid-row: 1 / span 4;
        margin: auto 0;
    }
    span {
        font-family: 'Pacifico';
        color: white;
        font-size: 2em;
        text-align: center;
    }
    .title-one {
        grid-column: 4 / span 2;
        grid-row: 1 / span 2;
    }
    .title-two {
        grid-column: 5 / span 3;
        grid-row: 3 / span 2;
    }
    .btn-container {
        position: absolute;
        width: 100%;
        top: 0;
        button {
            display:inline-block;
            background: $navBtnBackground;
            color: $navBtnColor;
            border: 1px solid $navBtnColor;
            border-radius: 4px;
            transition: .5s;
            &:hover {
                transform:scale(1.3);
            }
            p{
                margin: .5em 1.3em;
                padding:0;
                text-align: center;
            }
            span{
                position: absolute;
                bottom: 25%;
                transition:.5s;
                width: 0;
                height:0;
        
            }
            .underline {
                height:1px;
                width: 50%;
                background: $navBtnColor;
                transform-origin: left;
            }
        }
    }

}

