@import '../variables';
@import '../mixins';

.actions {
    @include flex-end-center;
    @include fill-container;
    * {
        margin-right: 5%;
    }
    button {
        display:inline-block;
        background: $navBtnBackground;
        color: $navBtnColor;
        border: 1px solid $navBtnColor;
        border-radius: 4px;
        transition: .5s;
        &:hover {
            transform:scale(1.3);
        }
    }
}